.tooltip {
  position: absolute;

  width: 150px;
  height: 200px;
  background-color: white;
  z-index: 10;
}

.tooltop ul {
  list-style-type: none;
}

.tooltip li {
  padding: 0;
}

.tooltip li:hover {
  transform: scale(1.05);
  cursor: pointer;
}
