.elementContainer {
  position: absolute;
  color: white;
  background-color: blue;
}

.elementHeader {
  position: absolute;
  top: -20px;
}

.elementContainer textarea {
  background: none;
  color: white;
}
