html,
body {
  padding: 0;
  margin: 0;

  --global-font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;

  font-family: var(--global-font-family);

  --background-color: rgb(50, 50, 50);

  background-color: var(--background-color);

  --navbar-offset: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  font-family: var(--global-font-family);
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}

textarea {
  font-family: var(--global-font-family);
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}
