.full {
  position: absolute;
  top: 0;
  left: 0;
  background-color: none;
}

.menuLayer * {
  position: fixed;
  z-index: 6;
  left: 0;
  margin: 10px;
}

.touchLayer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.touchLayer:hover {
  cursor: crosshair;
}
