.countdownTimer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
  padding: 8px;
  width: 100vw;
  height: 45px;
  color: white;
  background-color: black;
  border-top: 5px solid red;
}

.countdownTimer * {
  margin: 0;
}
